
//顏色
$golden:#AC8A46;
$brown:#916000;
$brown-dark: #6C4700;
$gray-1: #E6E6E6;
$gray-2: #E0E0E0;
$gray-3: #8D8D8D;
$gray-4: #707070;

//字級
$fs: 14px;
$fs-s: 16px;
$fs-m: 20px;
$fs-m-s: 24px;
$fs-m-m:26px;
$fs-m-l:28px;
$fs-l-s:32px;
$fs-xl: 40px;

//字體

$enft: 'Playfair Display';
$cnft: 'Noto Sans TC';